services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: dolgo
      POSTGRES_USER: dolgo
      POSTGRES_PASSWORD: dolgo
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U dolgo -d dolgo" ]
      interval: 5s
      timeout: 5s
      retries: 5

  bot:
    build: .
    env_file: .env
    depends_on:
      db:
        condition: service_healthy


volumes:
  pgdata:
